
#article{

    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}

#article:hover {
    transform: scale(1.5);
    z-index:7;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
  
  
  -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
   padding:0px;
  }