.owl-dots{
    display: none;
}
.owl-nav{
    position: relative;
    width: 100%;
    margin-top: 0;
}
.owl-carousel .owl-nav button.owl-prev{
    background: url('../../assets/imgs/leftArrow.png') no-repeat;
    width:16px;
    height:28px;
    position: absolute;
    top: -250px ;
    left: -20px;
}
.owl-carousel .owl-nav button.owl-next{
    background: url('../../assets/imgs/rightArrow.png') no-repeat;
    width:16px;
    height:28px;
    position: absolute;
    top: -250px ;
    right: -20px;
}
.owl-carousel .owl-nav button span{
    visibility: hidden;
}
.item-box{
    padding: 30px 10px;
}
.owl-carousel .item-box .image-area{
    height:auto
}
    
.owl-theme .owl-nav [class*='owl-next']:hover {
    background: url('../../assets/imgs/rightArrow.png') no-repeat;
}